<nav class="navbar shadow h-15 rounded-xl">
  <div class="flex justify-between w-full">
    <div class="w-full md:flex md:items-center md:gap-2">
      <div class="px-2">
        @if(authStore.isLoggedIn()){
        <button
          type="button"
          class="btn btn-text btn-square"
          aria-haspopup="dialog"
          aria-expanded="false"
          aria-controls="collapsible-sidebar"
          data-overlay="#collapsible-sidebar"
        >
          <span class="icon-[tabler--menu-2] size-5"></span>
        </button>
        }
      </div>
      <div class="flex items-center justify-between gap-5">
        <span class="font-bold text-lg">Campus Map</span>
      </div>
    </div>
    <div class="flex gap-4 items-center">
      <app-theme-switch></app-theme-switch>
      @if(authStore.isLoggedIn()){
      <div class="tooltip [--placement:bottom]">
        <button class="btn btn-text btn-circle tooltip-toggle" (click)="authStore.logout()">
          <span class="icon-[tabler--logout]"></span>
        </button>
        <span
          class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible"
          role="tooltip"
        >
          <span class="tooltip-body">Logout</span>
        </span>
      </div>
      }
    </div>
  </div>
</nav>
