<div class="grid grid-cols-2 grid-rows-1 gap-4 h-full">
  <div>
    <div class="card h-full">
      <div class="card-body">
        <app-map
          class="h-full"
          [polygon]="buildingStore.editedBuilding()?.boundary"
          (polygonChangedAction)="onPolygonChanged($event)"
        ></app-map>
      </div>
    </div>
  </div>
  <div>
    <div class="card h-full">
      <div class="card-body">
        <div class="flex flex-col justify-between h-full items-center">
          <div class="text-3xl font-bold mb-10">{{ title() }}</div>
          <div class="flex flex-col align-middle gap-4">
            <app-text-input label="Name" [field]="buildingForm.name"></app-text-input>
            <app-text-input label="Full name" [field]="buildingForm.fullName"></app-text-input>
            <app-textarea-input
              label="Description"
              [field]="buildingForm.description"
            ></app-textarea-input>
            <div class="max-w-sm flex align-center gap-2">
              <div class="tooltip [--placement:bottom]">
                <span class="icon-[tabler--info-circle] size-5 tooltip-toggle"></span>
                <span
                  class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible"
                  role="tooltip"
                >
                  <span class="tooltip-body">
                    Please use the draw tool in map to define the boundary of the building
                  </span>
                </span>
              </div>
              <span class="font-bold">Boundary:</span>
              <span class="max-h-[40vh] overflow-y-auto"> {{ boundaries() }}</span>
            </div>
          </div>
          <div class="flex flex-row gap-4 justify-end w-full">
            <button class="btn btn-soft">Cancel</button>
            <button
              class="btn btn-soft btn-primary"
              [disabled]="buildingForm().invalid() && buildingForm().dirty()"
              (click)="onSave()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
